

html {
    background-image: url("https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2127&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

li:hover {
    color: aqua;
    cursor: pointer;

}


.hero {
    font-family: 'Dancing Script', cursive;
    background-image: url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
    background-repeat: repeat;
    background-size: cover;
    box-shadow: inset 0 0 5px 2px #282a2d;
}

.title {
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: 50px;
}

.subtitle {
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-weight: bold;
}

.Date, .Day, .Max, .Min {
    color: #000;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, -1px 0 0 #fff;
}

.card {
    background-color: #E9E0D8;
}

.tile .is-child {
    background-image: url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
    background-repeat: repeat;
    background-size: cover;
}

.menu-label{
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

.menu-list a {
    color: #fff;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}

.tile, .is-child, .box, li {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -1px 0 0 #000;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.Wind, .WeatherMain, .WeatherDes {
    color: black;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 2px 0 #fff, -1px 0 0 #fff;
    font-weight: bolder;
}

.hidden {
    display: none;
}

#search-box {
    display: flex;
}

#selectState {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

#searchBtn {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}